<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DgsContext" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=DGSCrawler;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <appSettings>
    <add key="PathFile" value="C:\Users\Lars Holdgaard\Desktop\Files"/>
    <add key="OutputPathFolder" value="C:\Users\Lars Holdgaard\Desktop\Files\rules"/>

    <add key="UseProxy" value="FALSE"/>
    <add key="ProxyUrl" value="http://fr.proxymesh.com:31280"/>
    <add key="ProxyDefaultCredentials" value="false"/>
    <add key="ProxyLogin" value="dgs"/>
    <add key="ProxyPassword" value="Carlsberg123"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>